<html>
    <body style="background-color:powderblue;">
    <div class="container">
        <h3>Personal Profile</h3>
        <img src="\Image\Profile Picture.jpg" align = "Right" height=" 170px" width="300px"/> 
        <p> Name: Shreyas S</p>
        <p> Designation : Software Engineer </p>
        <p> Email:<a href = "ssatish@opteamix.com">ssatish@opteamix.com</a></p>
        <p> Github:<a href = "www.github.com/shreyas-99926">github.com/shreyas-99926</a></p>
        <p> --------------------------------------------------------------------------------------------------------------------------------------</p>
        <h3>Summary</h3>
        <p> Motivated Software Engineering graduate from the JSS Academy of Technical Education with 1 months experience in software development. 
            IEEE Computer Society Merwin Scholarship winner in 2018. Seeking to use proven skills in JavaScript and project management via JIRA 
            to meet business needs at GFC Inc. </p>


        </div>
    </body>
</html>


